# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
build/
dist/
.eggs/

# Environnements virtuels
.venv/
venv/
env/
ENV/

# Tests / outils
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.mypy_cache/
.ruff_cache/
.tox/

# Jupyter
.ipynb_checkpoints/

# IDE / éditeurs
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# Divers
*.log
.env
